* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #161616;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-img {
    display: flex;
    background-image: url('../assets/tenis_travis.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 740px;
    border-radius: 0 15px 15px 0;
}

.left-img img {
    margin-left: 15px;
    margin-bottom: 15px;
    align-self: flex-end;
    justify-content: end;
    width: 45px;
    height: auto;
}

.right-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 55px;
    background-color: #404040;
    border-radius: 5px;
}

.header-box .agora {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
    width: 95px;
    height: 35px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 55px;
    list-style: none;
    height: auto;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.login {
    display: flex;
    margin-top: 75px;
    padding: 0 0 12px 0;
    width: 80%;
    background-color: #404040;
    border-radius: 5px;
}

.card-cadastro {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
}

.card-cadastro h2 {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    border: none;
}


.formulario .campo input {
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 460px;
}

.confirmacao {
    margin-left: 175px;
    padding: 15px 0 0 0;
    font-size: 14px;
}

.confirmacao a {
    color: #A61414;
}

.formulario button {
    background-color: #A61414;
    color: #ffffff;
    width: 460px;
    height: 30px;
    margin-top: 20px;
    margin-left: 65px;
    border: none;
    border-radius: 2px;
 
}

#div_aguardar {
    display: none;
}