@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  color: #ffffff;
  background-color: #161616;
}

.janela {
  display: flex;
  width: 100%;
}

.janela img {
  margin-top: 50px;
  width: 130px;
  height: auto;
}

.header-left {
  background-image: url('../assets/imgs/foto_banner_dashboard.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 420px;
  height: 737px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header-left .hello {
  margin-top: 15px;
  font-family: 'League Spartan', sans-serif;
}

.header-left .navbar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 120px;
  gap: 15px;
}

.btn-nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  gap: 5px;
  font-family: 'League Spartan', sans-serif;
}

.btn-nav img {
  width: 20px;
  height: auto;
  margin: 0;
  padding: 0;
}

.btn-nav .agora {
  color: #A61414;
}

.boxes-kpis {
  display: flex;
}

.dash h1 {
  margin-top: 15px;
  margin-left: 15px;
  color: #A61414;
  font-family: 'League Spartan', sans-serif;

}

.kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #404040;
  width: 350px;
  margin-left: 15px;
  margin-top: 15px;
  height: 110px;
  border-radius: 5px;
}

.kpi span {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  font-family: 'League Spartan', sans-serif;

}

.kpi h2 {
  align-self: flex-start;
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

.graph {
  position: relative;
  background-color: #404040;
  width: 1080px;
  margin-left: 15px;
  margin-top: 15px;
  height: 520px;
  border-radius: 5px;
}

.graph h1 {
  color: #ffffff;
  padding: 15px;
}

.graph canvas {
  width: 100% !important;
  height: 450px !important;
  display: block !important;
}