* {
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #232323;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 40px;
    background-color: transparent;
}

.header .container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.header #icone-banner {
    margin-left: 40px;
    width: auto;
    height: 35px;
}

.navbar {
    margin-right: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.navbar img {
    width: 25px;
    height: auto;
}

.box-cadastro {
    width: 120px;
    display: flex;
    align-items: center;
    padding: 0 2px 0 6px;
    gap: 15px;
    border-radius: 50px;
    background-color: #ffffff;
}

.box-cadastro li a {
    color: #000000;
}

.box-cadastro img {
    padding: 4px 2px 0 2px;
}

.banner {
    width: 100%;
    height: 800px;
    background-image: url(../assets/imgs/foto_banner_home.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: initial;
    width: 90%;
    height: 41%;
    font-size: 40px;
    font-weight: 700;
}

.banner .frase {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    height: 41%;
    font-size: 40px;
    font-style: italic;
}

.boxes-imgs {
    padding: 50px;
    background-color: #232323;
    border-radius: 0 0 50px 50px;
}

.boxes-imgs .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxes-imgs img {
    width: auto;
    height: 120px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    border-radius: 0 0 50px 50px;
    color: #A61414;
}

.social .container {
    display: flex;
    align-items: initial;
    margin-top: 50px;
    width: 100%;
}

#chamada {
    font-size: 30px;
    color: #ffffff;
}

.legenda {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    width: 90%;
    margin-left: 72px;
}

.pesquisa {
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: initial;
}

.box-saibamais {
    width: 120px;
    display: flex;
    align-items: center;
    padding: 0 2px 0 6px;
    border-radius: 50px;
    background-color: #A61414;
}

.box-saibamais a {
    font-size: 14px;
    color: #ffffff;
}

.box-saibamais img {
    padding: 4px 2px 0 2px;
    width: 25px;
    height: auto;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: end;
    width: 40%;
    margin-right: 72px;
    color: #ffffff;
}